body {
  background: url("https://images.unsplash.com/photo-1549056572-75914d5d5fd4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80");
  background-size: 100% 250%;
  background-position: absolute;
  margin-bottom: -30px;
}

.crystal-image {
  width: 150px;
  height: 150px;
}

#crystals {
  margin-right: 250px;  
}

#scoreBox {
  height: 125px;
  width: 105px;
  padding-left: 5px;
  float: left;
  margin-left: 10px;
  background-color: black;
  border: 2px solid #8f0200;

}

h6 {
  color: white;
  }

p {
  color: white;
  height: 125px;
  width: 300px;
  background-color: black;
  margin-top: 30px;
  margin-left: 10%;
  border: 2px solid #8f0200;
  }

